
<section class="content">
  <div class="container-fluid">
    <div class="jumbotron">
      <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add User</button>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>body</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let data of httpdata">
            <td>{{data.title}}</td>
            <td>{{data.body}}</td>
            <td><button class="btn btn-success" data-toggle="modal" data-target="#myModal_edit" (click)="edit(data.id)"> Edit</button> | <button class="btn btn-danger" (click)="delete(data.id)"> Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--div *ngIf="this.editdata !== undefined">
    {{this.editdata.title}}
  </div-->
</section>
<div *ngIf="editdata!= undefined">{{editdata.title}}</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          
              <form  #userlogin = "ngForm">
                <div class="form-group">
                  <label for="email">Title</label>
                  <input type="text" name="title" placeholder="Article Name" class="form-control" id="title" ngModel>
                </div>
              
                <div class="form-group">
                  <label for="pwd">contant</label>
                  <textarea class="form-control" id="body" name="body" ngModel></textarea>
                </div>
              
                <button type="submit" name="body" id="body" class="btn btn-default" (click)= "add(userlogin.value)" >Submit</button>
              </form>
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


  <!-- I know this is not good way -->
  <div class="modal fade" id="myModal_edit" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">edit</h4>
        </div>
        <div class="modal-body">
          
              <form  #userlogin = "ngForm" *ngIf ="editResponse">
                <div class="form-group"> 
                  <label for="email">Title</label>
                  <input type="text" value="{{editdata.title}}" name="title" placeholder="Article Name" class="form-control" id="title" >
                </div>
              
                <div class="form-group">
                  <label for="pwd">contant</label>
                  <textarea class="form-control" id="body" name="body" ngModel></textarea>
                </div>
              
                <button type="submit" name="body" id="body" class="btn btn-default" (click)= "add(userlogin.value)" >Submit</button>
              </form>
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


